<div>
    <div="top-header">
        <% include header-fixed.html %>
</div>
<div class="container">
    <div class="booking-header">
        Fly til London fra København
    </div>
    <div class="text-content">
        Vælg ønsket udrejse- og returdato. Tryk "Vis flyafgange" for at fortsætte.
    </div>
    <div class="booking-picker">
        <div class="row small-gutter">
            <div class="col-md-2">
                <span>Fly fra</span>
                 <select>
                    <option>London</option>
                    <option>Stockholm</option>
                    <option>Oslo</option>
                    <option>København</option>
                </select>
            </div>
            <div class="col-md-2">
               
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span>Fly til</span>
                <select>
                    <option>London</option>
                    <option>Stockholm</option>
                    <option>Oslo</option>
                    <option>København</option>
                </select>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
</div>