<div>
    <!-- Load navigation bar -->
    <% include headerenglish.html %>

        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                       
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="valg">
                        </section>
                <!--Berlin-skyline-radio-tower-night-->
                <div class=content>
                    
                    <div class="row">
                        <div class="col-md-12 box8">

</div>
                    </div>
                    </div>
                <div class=content>
                    
                    <div class="row">
                    <div class="col-md-6 box6">
                        
                          I wish to help
                        </div>
                        <div class="col-md-6 box7">
                            I wish to obtain help
</div>
                    </div>
                    </div>
                 <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 box3">
                                <section id="tilbud">
                                </section>
                                
                                <img class="img-responsive" src="../img/integration2.jpg" alt=""  />
                                <h3> Do like the Rasmussens - Share the "hygge!" </h3>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 box2">

                                    <img class="img-responsive" src="../img/integration.jpg" />
                                    <div class="image2-header">
                                      
                                    </div>
                                    <div class="image2-content">
                                        <div>
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section id="kakao">
                        </section>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 box border-bottom border-right">
                                    <div class="content">
                                        <a href="/booking?destination=Oslo">
                                            <div class="tilbud-header">
                                                <section id="tilbud">
                                                More ways to help
                                                </section>
                                               
                                            </div>
                                            <div class="tilbud-content">
                                                <div>
                                              Click for more information..
                                                </div>
                                                <div>
                                               
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 box border-bottom border-left">
                                    <div class="content">
                                        <a href="/booking?destination=Madrid">
                                        <div class="tilbud-header">
                                          News and Facts
                                        </div>
                                        <div class="tilbud-content">
                                            <div>
                                             
                                            </div>
                                            <div>
                                           Follow the situation on a day-to-day basis.
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 box border-top border-right">
                                    <div class="content">
                                        <a href="/booking?destination=Reykjavik">
                                       <div class="tilbud-header">
                                         Find us on Social Media  
                                        </div>
                                        <div class="tilbud-content">
                                            <div>
                                            
                                            </div>
                                            <div>
                                                <a> Facebook | </a> <a> Twitter | </a> <a> Instagram </a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 box border-top border-left">
                                    <div class="content">
                                        <a href="/booking?destination=London">
                                        <div class="tilbud-header">
                                         Translatorservice
                                        </div>
                                        <div class="tilbud-content">
                                            <div>
                                              We offer professional translators with expertise in up to 58 languages.  
                                            </div>
                                            <div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 box">
                                    <div class="content">
                                        <a href="/booking?destination=Lasvegas">
                                        <div class="tilbud-header">
                                         Muslim culture in Denmark
                                        </div>
                                        <div class="tilbud-content">
                                            <div>
                                            Obtain help locating Mosques and other muslim communities in the country.
                                            </div>
                                            <div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12 box4">
                                    <img class="img-responsive" src="../img/moske2.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                 
                                <div class="col-md-12 box5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">

                </div>
            </div>

            <!-- Load footer -->
            <% include footer.html %>
        </div>