<div>
    <!-- Load navigation bar -->
    <% include header.html %>

        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="intro-text"></p>
                            <a href="tilbud" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 box3">
                                <img class="img-responsive" src="../img/Berlin-skyline-radio-tower-night.jpg" />Hello
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Berlin-skyline-radio-tower-night-->

            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 box2">
                                <img class="img-responsive" src="../img/new-york.jpeg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 box border-bottom border-right">
                                <div class="content">
                                    <div class="tilbud-header">
                                        <section id="tilbud">

                                        </section>    
                                        
                                        Header
                                    </div>
                                    <div class="tilbud-content">
                                        <div>
                                            Fra ...
                                        </div>
                                        <div>
                                            Fra/enkeltbillet ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 box border-bottom border-left">
                                <div class="content">
                                    <div class="tilbud-header">
                                        Header
                                    </div>
                                    <div class="tilbud-content">
                                        <div>
                                            Fra ...
                                        </div>
                                        <div>
                                            Fra/enkeltbillet ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 box border-top border-right">
                                <div class="content">
                                    <div class="tilbud-header">
                                        Header
                                    </div>
                                    <div class="tilbud-content">
                                        <div>
                                            Fra ...
                                        </div>
                                        <div>
                                            Fra/enkeltbillet ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 box border-top border-left">
                                <div class="content">
                                    <div class="tilbud-header">
                                        Header
                                    </div>
                                    <div class="tilbud-content">
                                        <div>
                                            Fra ...
                                        </div>
                                        <div>
                                            Fra/enkeltbillet ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 box">
                                <div class="content">
                                    <div class="tilbud-header">
                                        Header
                                    </div>
                                    <div class="tilbud-content">
                                        <div>
                                            Fra ...
                                        </div>
                                        <div>
                                            Fra/enkeltbillet ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 box4">
                                <img class="img-responsive" src="../img/usa_las-vegas.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 box5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">

            </div>
        </div>

        <!-- Load footer -->
        <% include footer.html %>
</div>