<div>
    <!-- Load navigation bar -->
    <% include header.html %>

        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                       
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="valg">
                        </section>
                <!--Berlin-skyline-radio-tower-night-->
                <div class=content>
                    
                    <div class="row">
                    <div class="col-md-6 box6">
                        
                          Jeg ønsker at hjælpe 
                        </div>
                        <div class="col-md-6 box7">
                            Jeg ønsker at få hjælp
</div>
                    </div>
                    </div>
                 <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 box3">
                                <section id="tilbud">
                                </section>
                                <img class="img-responsive" src="../img/integration2.jpg" />Hello
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 box2">

                                    <img class="img-responsive" src="../img/integration.jpg" />
                                    <div class="image2-header">
                                      
                                    </div>
                                    <div class="image2-content">
                                        <div>
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section id="kakao">
                        </section>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 box border-bottom border-right">
                                    <div class="content">
                                        <a href="/booking?destination=Oslo">
                                            <div class="tilbud-header">
                                                <section id="tilbud">
                                                Flere måder at hjælpe
                                                </section>
                                               
                                            </div>
                                            <div class="tilbud-content">
                                                <div>
                                              Klik ind for at vide mere..
                                                </div>
                                                <div>
                                               
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 box border-bottom border-left">
                                    <div class="content">
                                        <a href="/booking?destination=Madrid">
                                        <div class="tilbud-header">
                                          Nyheder og Fakta
                                        </div>
                                        <div class="tilbud-content">
                                            <div>
                                             
                                            </div>
                                            <div>
                                           Følg med i situationen med døgn-til-døgn opdateringer.
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 box border-top border-right">
                                    <div class="content">
                                        <a href="/booking?destination=Reykjavik">
                                       <div class="tilbud-header">
                                         Find os på de Sociale Medier  
                                        </div>
                                        <div class="tilbud-content">
                                            <div>
                                            
                                            </div>
                                            <div>
                                                <a> Facebook | </a> <a> Twitter | </a> <a> Instagram </a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 box border-top border-left">
                                    <div class="content">
                                        <a href="/booking?destination=London">
                                        <div class="tilbud-header">
                                         Tolkeservice
                                        </div>
                                        <div class="tilbud-content">
                                            <div>
                                              Vi tilbyder tolkeudlejning med ekspertise  over 58 sprog  
                                            </div>
                                            <div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 box">
                                    <div class="content">
                                        <a href="/booking?destination=Lasvegas">
                                        <div class="tilbud-header">
                                         Islam i Danmark
                                        </div>
                                        <div class="tilbud-content">
                                            <div>
                                            Få hjælp til at opsøge Moskéer og Muslimske Institutioner rundt omkring i Danmark.
                                            </div>
                                            <div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12 box4">
                                    <img class="img-responsive" src="../img/moske2.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                 
                                <div class="col-md-12 box5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">

                </div>
            </div>

            <!-- Load footer -->
            <% include footer.html %>
        </div>