<div>
    <% include header.html %>

        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="intro-text"></p>
                            <a href="#destinationer" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tilbud-container">
                            <div class="row">
                                <div class="col-md-12 box2">
                                    <img class="cover" src="../img/newyork.jpg" />
                                    <!--<div class="content">
                                        <div class="header">
                                            New York
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tilbud-container">
                            <div class="row">
                                <div class="col-md-6 box border-bottom border-right">
                                    <div class="content">
                                        <div class="header">
                                            Madrid
                                        </div>
                                        <div class="text">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 box border-bottom border-left">
                                    <div class="content">
                                        <div class="header">
                                            København
                                        </div>
                                        <div class="text">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 box border-top border-right">
                                    <div class="content">
                                        <div class="header">

                                        </div>
                                        <div class="text">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 box border-top border-left">
                                    <div class="content">
                                        <div class="header">

                                        </div>
                                        <div class="text">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">

            </div>
        </div>
</div>