body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F1F1F1;
    color: black;
    font-size: 1.5rem;
}

.small-gutter{
    padding-bottom: 0.5rem;
}

.navbar-custom .nav li a {
    font-family: 'Lato';
}

.navbar-custom .nav li a:hover {
    background-color: transparent;
    color:white;
    text-decoration: none;
    font-family: 'Lato';
    padding-bottom: 0.2rem;
    border-bottom: 2px solid white;
}

.content{
    padding-top: 3rem;
}

.box2 {
    height: 50rem;
    border-right: 0.50rem solid white; 
    font-family: 'Lato';
    position: relative;
    overflow: hidden;
    background-color: #bdc3c7;
}

.box2 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.box2 img:hover {
    -webkit-transform:scale(1.12); /* Safari and Chrome */
    -moz-transform:scale(1.12); /* Firefox */
    -ms-transform:scale(1.12); /* IE 9 */
    -o-transform:scale(1.12); /* Opera */
     transform:scale(1.12);
}

.box3 {
    height: 40rem;
    font-family: 'Lato';
    position:relative;
    overflow: hidden;
}

.box3 img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    -webkit-transform:scale(1.12); /* Safari and Chrome */
    -moz-transform:scale(1.12); /* Firefox */
    -ms-transform:scale(1.12); /* IE 9 */
    -o-transform:scale(1.12); /* Opera */
     transform:scale(1.12);
}


.box4 {
    height: 25rem;
    border-left: 0.50rem solid white;
    font-family: 'Lato';
    position: relative;
    overflow: hidden;
    background-color: #d81939;
}

.box4 img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    -webkit-transform:scale(1.12); /* Safari and Chrome */
    -moz-transform:scale(1.12); /* Firefox */
    -ms-transform:scale(1.12); /* IE 9 */
    -o-transform:scale(1.12); /* Opera */
     transform:scale(1.12);
     width:100%
}

.box4 img:hover {
    -webkit-transform:scale(1.18); /* Safari and Chrome */
    -moz-transform:scale(1.18); /* Firefox */
    -ms-transform:scale(1.18); /* IE 9 */
    -o-transform:scale(1.18); /* Opera */
     transform:scale(1.18);
}

.box5 {
    height: 0.000001rem;
    background-color: #d81939;
}

.top-header {
    padding-bottom: 1rem;
}

.box {
    height: 25rem;
    background-color: #d81939;    
    padding: 1.5rem;
}

.box:hover {
     background-color: #C61734;    
}

.border-top {
    border-top: 0.25rem solid white;
}

.border-bottom {
    border-bottom: 0.25rem solid white;
}

.border-left {
    border-left: 0.25rem solid white;
}

.border-right {
    border-right: 0.25rem solid white;
}

.tilbud-header{
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Lato";
    color: white;
}

.tilbud-content {
    font-size: 1.8rem;
    font-family: "Lato";
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid white;
    color: white;
}

.footer {
  height: 100rem;
  background-color: #E3E3E3;
}

.container2 {
    height: 300px;
    width: 240px;
    background-color: red;
    float: left;
    overflow: hidden;
    margin: 20px;
}
.container2 img {
    display: block;
}

.portrait img {
    width: 100%;
}
.landscape img {
    height: 100%;
}

.booking-container {
width: 1000px;
margin: 50px 0 20px 125px;
position: absolute;
z-index: 15;
top: 50;
left: 50;
right: 50;
height: 65rem;
border: solid 2px black;
}

.booking-header {
    padding-top: 3rem;
    font-family: "Lato";
    color: #003D50;
    font-size: 3rem;
    font-weight: 800;
}


.image2-header {
position: absolute;
padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Lato";
    color: white;  
}

.image2-content {
   font-size: 2rem;
    font-family: "Lato";
    padding-top: 7rem;
    padding-bottom: 0.5rem;
    color: white;
    position: absolute;        
    }

.text-content {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.booking-picker{
    background-color: white;
    border-top: 4px solid #003D50;
    padding: 1.5rem;
}

.color {
    background-color: white;
}

.booking-picker select {
    border: 0;
    background-color: #F1F1F1;
}

.image3-header {
    position: absolute;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Lato";
    color: red;    
}
.image3-content {
 font-size: 2rem;
    font-family: "Lato";
    padding-top: 7rem;
    padding-bottom: 0.5rem;
    color: white;
    position: absolute;      
}

.content a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .remove-padding-left {
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .remove-padding-right {
        padding-right: 0;
    }

    .right {
        float: right;
    }
}

.booking-picker label {
    font-family: "Lato";
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
}

.big-select {
    width: 100%;
}

.checkbox1 {
    padding: 0;
}

.booking-picker-date {
    padding-top: 3rem;
}

.booking-picker-confirm {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.confirm {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #C61734;
    color: white;
    float: right;
    font-family: "Lato";
}

.confirm:hover {
    background-color: #d81939;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.box6 {
    height:30rem;
    font-family: 'Lato';
    position: relative;
    overflow: hidden;
    background-color: #d81939;
    align:center;
    padding: 1px;
    padding-top: 12rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Lato";
    color: white;
    text-align:center;
}
.box7 {
    height:30rem;
    font-family: 'Lato';
    position: relative;
    overflow: hidden;
    background-color: green;
    align:center;
    padding: 1px;
    padding-top: 12rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Lato";
    color: white;
    text-align:center;
}

.box6:hover {
     background-color: #C61734;    
}

.box7:hover {
     background-color: darkgreen;    
}

.dk {
width: 30px;
height:auto;
padding: 5px;
}

.gb {
width: 30px;
height: 30px;
padding: 5px;
}

h3 { 
   position: absolute; 
   bottom:1px; 
   left: 0; 
   width: 100%;
   text-align: center;
   color:white;
   text-decoration: underline;
}

.box8 {
    height: 25rem;
    font: "Arial-narrow";
    overflow: hidden;
    background-color: #E3E3E3;
    font-size: 14pt;
    letter-spacing: 2px;
    margin: 2rem;
    width:150rem;
    position:relative;
    
    color: black;
    text-align:left;   
}

h4 {
color: #C61734;
padding-top: 2rem; 
}